@charset "UTF-8";
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  background-color: #DBD7C7;
  font-family: "游ゴシック体", sans-serif;
}

.wrapper {
  overflow: hidden;
}

main {
  margin: 11.0416666667vw auto 15.4166666667vw;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 87.6388888889vw;
  min-width: 335px;
  margin: 0 auto;
  margin-top: 31.1111111111vw;
  margin-bottom: 5vw;
}
@media screen and (min-width: 1441px) {
  .header {
    margin: 448px 107px 72px 71px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    margin-right: 20px;
    margin-left: 20px;
  }
}
.header .name {
  letter-spacing: 0.07em;
  font-size: calc(3.0625rem + (1vw - 3.75px) * 8.5446);
  font-family: "Optima", "Segoe", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
@media screen and (min-width: 1441px) {
  .header .name {
    font-size: 140px;
  }
}
.header .name.last {
  text-align: right;
}

.first-view {
  position: relative;
}
.first-view__content {
  max-width: 580px;
  max-height: 772px;
  width: 40.2777777778vw;
  height: 53.6111111111vw;
  margin: 0 auto;
  background-image: url(../images/first-view.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1441px) {
  .first-view__content {
    width: 580px;
  }
}
.first-view .occupation {
  text-align: center;
  margin-top: 3.9583333333vw;
}
@media screen and (min-width: 1441px) {
  .first-view .occupation {
    margin-top: 57px;
  }
}
@media screen and (max-width: 375px) {
  .first-view .occupation {
    margin-top: 27px;
  }
}
.first-view .occupation .salles {
  letter-spacing: 0.1em;
  font-size: calc(0.75rem + (1vw - 3.75px) * 0.5634);
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #222222;
}
@media screen and (min-width: 1441px) {
  .first-view .occupation .salles {
    font-size: 18px;
  }
}

.about {
  max-width: 79.4444444444vw;
  min-width: 335px;
  margin: 0 auto;
}
@media screen and (max-width: 375px) {
  .about {
    margin: 0 20px;
  }
}

.section-title.h3 {
  font-size: calc(1rem + (1vw - 3.75px) * 1.5023);
  font-weight: 400;
  font-family: "Optima", "Segoe", sans-serif;
  color: #FFFFFF;
}
@media screen and (min-width: 1441px) {
  .section-title.h3 {
    font-size: 32px;
  }
}

.section-pr.word {
  letter-spacing: 0.05em;
  line-height: 1.3;
  font-size: calc(1.5rem + (1vw - 3.75px) * 3.3803);
  font-weight: 400;
  font-family: noto-sans-cjk-jp, sans-serif;
  font-style: normal;
  color: #222222;
}
@media screen and (min-width: 1441px) {
  .section-pr.word {
    font-size: 60px;
  }
}
@media screen and (max-width: 457px) {
  .section-pr.word {
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 375px) {
  .section-pr.word {
    font-size: 20px;
  }
}
.section-pr.amg {
  margin-top: 3.8194444444vw;
}
.section-pr.fmg {
  margin-top: 8.9583333333vw;
}
.section-pr.cmg {
  margin-top: 2.6388888889vw;
}

.section-description.a-box {
  max-width: 598px;
  min-width: 335px;
  width: 41.5277777778%;
}
.section-description.a-box .text:nth-of-type(1) {
  margin-top: 3.8888888889vw;
}
.section-description.text {
  line-height: 2.1;
  font-size: calc(0.75rem + (1vw - 3.75px) * 0.5634);
  font-weight: 400;
  font-family: "游ゴシック体", sans-serif;
  color: #222222;
}
@media screen and (min-width: 1441px) {
  .section-description.text {
    font-size: 18px;
  }
}
.section-description .text:nth-of-type(1) {
  margin-top: 4.7916666667vw;
}
.section-description .text:nth-of-type(2) {
  margin-top: 1.25vw;
}

.hashtag {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.4027777778vw;
}
@media screen and (max-width: 508px) {
  .hashtag {
    padding-bottom: 64px;
  }
}
.hashtag-name {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000000;
}
.hashtag-name:not(:nth-of-type(3)) {
  margin-right: 2.2916666667vw;
}
.hashtag-name:nth-of-type(3) {
  display: none;
}
@media screen and (max-width: 768px) {
  .hashtag-name:nth-of-type(3) {
    display: block;
  }
}
@media screen and (max-width: 508px) {
  .hashtag-name:nth-of-type(3) {
    margin-top: 22px;
  }
}

.works {
  position: relative;
  max-width: 79.4444444444vw;
  min-width: 335px;
  margin: 0 auto;
  margin-top: 6.7361111111vw;
  padding: 68px 0 0 0;
}
@media screen and (max-width: 375px) {
  .works {
    margin: 6.7361111111vw 20px 0 20px;
  }
}
.works::before {
  content: "";
  position: absolute;
  top: 0;
  left: 45%;
  display: none;
  width: 60px;
  height: 1px;
  background-color: #000000;
}
@media screen and (max-width: 768px) {
  .works::before {
    display: block;
  }
}
.works .works-title__supplement {
  margin-top: 1.3888888889vw;
  font-size: calc(0.625rem + (1vw - 3.75px) * 0.5634);
  color: #222222;
}
.works .works-container .content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (min-width: 1441px) {
  .works .works-container .content {
    flex-wrap: nowrap;
  }
}
.works .works-container .content-inner {
  position: relative;
  min-width: 335px;
  margin-top: 6.7361111111vw;
}
.works .works-container .content-inner:nth-child(odd) {
  max-width: 26.9444444444vw;
  max-height: 17.6388888889vw;
  min-height: 218px;
  margin-right: 5.8333333333vw;
}
.works .works-container .content-inner:nth-child(odd)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 43, 43, 0.62);
}
.works .works-container .content-inner.num1 {
  position: relative;
}
.works .works-container .content-inner.num1::after {
  content: "+ 12%";
  position: absolute;
  top: 35%;
  left: 20%;
  font-size: 69px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
.works .works-container .content-inner.num2 {
  position: relative;
}
.works .works-container .content-inner.num2::after {
  content: "7位";
  position: absolute;
  top: 35%;
  left: 35%;
  font-size: 69px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
.works .works-container .content-inner.num3 {
  position: relative;
}
.works .works-container .content-inner.num3::after {
  content: "86%";
  position: absolute;
  top: 35%;
  left: 35%;
  font-size: 69px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
.works .works-container .content-inner.num4 {
  position: relative;
}
.works .works-container .content-inner.num4::after {
  content: "1P";
  position: absolute;
  top: 35%;
  left: 35%;
  font-size: 69px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
.works .works-container .content-inner.num5 {
  position: relative;
}
.works .works-container .content-inner.num5::after {
  content: "+ 15%";
  position: absolute;
  top: 35%;
  left: 20%;
  font-size: 70px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
.works .works-container .content-inner .photo {
  width: 100%;
  height: 100%;
}
.works .works-container .content-inner.info {
  max-width: 640px;
  width: 44.4444444444vw;
}
.works .works-container .content-inner__name {
  font-size: calc(1rem + (1vw - 3.75px) * 0.7512);
}
.works .works-container .content-inner__category {
  display: inline-block;
  margin-top: 1.1805555556vw;
  padding: 11px 9px 9px 11px;
  font-size: calc(0.625rem + (1vw - 3.75px) * 0.1878);
  background-color: #F0F0F0;
}
.works .works-container .content-inner__cachievement {
  margin-top: 20px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: bold;
}
.works .works-container .content-inner__description-text {
  margin-top: 20px;
  line-height: 1.7;
  font-size: calc(0.625rem + (1vw - 3.75px) * 0.5634);
}
.works .works-container .content .top {
  margin-top: 3.75vw;
}

.flow {
  position: relative;
  padding: 63px 0 0 0;
  margin-top: 17.8472222222vw;
}
.flow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 45%;
  display: none;
  width: 60px;
  height: 1px;
  background-color: #000000;
  left: 40%;
}
@media screen and (max-width: 768px) {
  .flow::before {
    display: block;
  }
}
.flow .flow-container {
  margin-left: 10.2777777778vw;
}
@media screen and (min-width: 1441px) {
  .flow .flow-container {
    margin-left: 0;
  }
}
@media screen and (max-width: 375px) {
  .flow .flow-container {
    margin-left: 20px;
  }
}

.slider {
  display: flex;
  margin-top: 3.4722222222vw;
}
.slider-item {
  max-width: 360px;
  max-height: 276px;
  min-width: 132px;
  width: 25vw;
  margin-right: 2.0833333333vw;
}
.slider-item .grab {
  cursor: -webkit-grab;
  cursor: grab;
}
.slider-item .grab:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.slider-item .process {
  display: block;
  margin-top: 1.4583333333vw;
  font-size: calc(0.5rem + (1vw - 3.75px) * 1.3146);
}
@media screen and (min-width: 1441px) {
  .slider-item .process {
    margin-top: 21px;
    font-size: 22px;
  }
}
@media screen and (max-width: 375px) {
  .slider-item .process {
    font-size: 8px;
  }
}

.flow-container__centered {
  max-width: 79.4444444444vw;
  min-width: 335px;
  margin: 0 auto;
}
@media screen and (max-width: 375px) {
  .flow-container__centered {
    margin-left: 20px;
  }
}
.flow-container__centered .section-description.f-box {
  max-width: 924px;
  min-width: 335px;
  width: 64.1666666667vw;
}

.contact {
  max-width: 79.4444444444vw;
  min-width: 335px;
  margin: 0 auto;
}
@media screen and (max-width: 375px) {
  .contact {
    margin: 0 20px;
  }
}

.form {
  width: 64.4444444444vw;
  margin-top: 6.9444444444vw;
}
.form-inner:nth-of-type(1) .form-inner__category {
  margin-right: 4.0277777778vw;
}
.form-inner:nth-of-type(2) {
  margin-top: 6.3194444444vw;
}
.form-inner:nth-of-type(2) .form-inner__category {
  margin-right: 4.3055555556vw;
}
.form-inner:nth-of-type(3) {
  margin-top: 4.8611111111vw;
}
.form-inner:nth-of-type(4), .form-inner:nth-of-type(6) {
  margin-top: 2.7777777778vw;
}
.form-inner:nth-of-type(5) {
  display: flex;
  margin-top: 2.7777777778vw;
}
@media screen and (max-width: 1070px) {
  .form-inner:nth-of-type(5) {
    flex-wrap: wrap;
  }
}
.form-inner:nth-of-type(6) .form-inner__category {
  margin-right: 4.3055555556vw;
}
.form-inner:nth-of-type(6) .form-inner__column {
  margin-top: 20px;
}
.form-inner .budget {
  max-width: 452px;
  width: 31.3888888889vw;
  margin-right: 24px;
}
.form-inner .delivery {
  max-width: 452px;
  width: 31.3888888889vw;
}
.form-inner__category {
  letter-spacing: 0.15em;
  font-size: calc(0.75rem + (1vw - 3.75px) * 0.5634);
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1A1A1A;
}
.form-inner .strong {
  padding: 4px 6px;
  border: solid 1px #222222;
  font-size: 12px;
  font-family: dnp-shuei-gothic-kin-std, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.form-inner__column {
  margin-top: 1.3888888889vw;
  line-height: 3.6;
  white-space: nowrap;
}
@media screen and (max-width: 1070px) {
  .form-inner__column {
    white-space: normal;
  }
}
.form-inner__column .consult {
  font-size: calc(0.875rem + (1vw - 3.75px) * 0.3756);
  font-family: dnp-shuei-gothic-kin-std, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.form-inner__column .consult:nth-of-type(1) {
  margin-right: 2.2222222222vw;
}
.form-inner__column .consult:nth-of-type(2) {
  margin-right: 2.5694444444vw;
}
.form-inner__column-input {
  max-width: 928px;
  min-width: 335px;
  width: 100%;
}
.form-inner__column-input.c-pd {
  padding: 1.3194444444vw 1.1111111111vw 1.3194444444vw 1.1111111111vw;
}
.form-inner__column-input.f-name {
  max-width: 452px;
  width: 31.25vw;
  padding: 1.3194444444vw 1.1111111111vw 1.3194444444vw 1.1111111111vw;
  margin-right: 19px;
}
.form-inner__column-input.l-name {
  max-width: 452px;
  width: 31.25vw;
  padding: 1.3194444444vw 1.1111111111vw 1.3194444444vw 1.1111111111vw;
}
.form-inner__column-input.m-pd {
  padding: 1.3194444444vw 1.1111111111vw 1.3194444444vw 1.1111111111vw;
  font-size: 18px;
}
.form-inner__column-input.b-pd {
  max-width: 452px;
  padding: 1.3194444444vw 1.1111111111vw 1.3194444444vw 1.1111111111vw;
}
.form-inner__column-input.d-pd {
  max-width: 452px;
  padding: 1.3194444444vw 1.1111111111vw 1.3194444444vw 1.1111111111vw;
}
.form-inner__column-input.c-width {
  max-width: 928px;
  width: 64.4444444444vw;
  height: 27.7777777778vw;
  padding: 1.25vw 0.6944444444vw 1.25vw 0.6944444444vw;
}
.form-inner__column-input.font {
  letter-spacing: 0.1em;
  font-size: 18px;
}
.form-inner__column-input.font::-moz-placeholder {
  color: #D1D1D1;
}
.form-inner__column-input.font:-ms-input-placeholder {
  color: #D1D1D1;
}
.form-inner__column-input.font::placeholder {
  color: #D1D1D1;
}
.form-button {
  text-align: center;
}
.form-button .button {
  padding: 0;
  margin: 4.1666666667vw 0 7.7777777778vw 0;
  letter-spacing: 0.2em;
  line-height: 1;
  border: none;
  border-bottom: 5px solid #222222;
  font-size: calc(3.75rem + (1vw - 3.75px) * 1.8779);
  font-family: "Optima", "Segoe", sans-serif;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 1441px) {
  .form {
    max-width: 1936px;
  }
}

.footer {
  max-width: 79.4444444444vw;
  min-width: 335px;
  margin: 0 auto;
}
@media screen and (max-width: 425px) {
  .footer {
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  .footer {
    margin: 0 20px;
  }
}
.footer .footer-container {
  max-width: 64.4444444444vw;
  min-width: 335px;
}
@media screen and (min-width: 1441px) {
  .footer .footer-container {
    max-width: 928px;
  }
}
.footer .footer-container .privacy {
  display: flex;
  justify-content: center;
  margin-top: 2.7777777778vw;
}
.footer .footer-container .privacy-policy {
  text-align: center;
  font-size: calc(0.875rem + (1vw - 3.75px) * 0.3756);
  font-family: dnp-shuei-gothic-kin-std, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.footer .footer-container .privacy-policy:nth-of-type(1) {
  position: relative;
}
.footer .footer-container .privacy-policy:nth-of-type(2) {
  margin-left: 18px;
}
.footer .footer-container .privacy-policy .square {
  position: absolute;
  bottom: 55%;
  left: 95%;
}
@media screen and (max-width: 765px) {
  .footer .footer-container .privacy-policy .square {
    bottom: 80%;
    left: 104%;
  }
}
.footer .footer-container .privacy-policy .square::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 7px;
  border: solid 1px #000000;
  background-color: #FFFF9D;
}
@media screen and (max-width: 765px) {
  .footer .footer-container .privacy-policy .square::before {
    background-color: #FFFFFF;
  }
}
.footer .footer-container .privacy-policy .square::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 7px;
  border: solid 1px #000000;
  background-color: #FFFF9D;
  transform: translate(-18%, 25%);
}
@media screen and (max-width: 765px) {
  .footer .footer-container .privacy-policy .square::after {
    background-color: #FFFFFF;
  }
}
/*# sourceMappingURL=style.css.map */