@mixin fontNotoRegu {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin fontNotoBold {
  font-family: noto-sans-cjk-jp, sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin fontSyuei {
  font-family: dnp-shuei-gothic-kin-std, sans-serif;
  font-weight: 600;
  font-style: normal;
}