@forward "../config/variables";
@use "../config/variables" as var;
@forward  "../function/convert-vp";
@use "../function/convert-vp" as vp;
@forward  "../mixin/section";
@use "../mixin/section" as sec;
@forward  "../mixin/site-padding";
@use "../mixin/site-padding" as sp;
@forward  "../mixin/font-aktiv";
@use "../mixin/font-aktiv" as fa;
@forward  "../mixin/font-noto";
@use "../mixin/font-noto" as fn;
@forward "../mixin/madia";
@use "../mixin/madia";

.footer {
  max-width: vp.convertVh(1144px, 1440px);
  min-width: 335px;
  margin: 0 auto;
    @include madia.deviceBreakPointMax(425px) {
      margin: 0 auto;
      }
    @include madia.deviceBreakPointMax(375px) {
      margin: 0 20px;
      }
  .footer-container {
    max-width: vp.convertVh(928px, 1440px);
    min-width: 335px;
    @include madia.deviceBreakPointMin(1441px) {
      max-width: 928px;
      }
    .privacy {
      display: flex;
      justify-content: center;
      margin-top: vp.convertVw(40px, 1440px);
      &-policy {
        text-align: center;
        font-size: var.$contactFontSmall;
        @include fn.fontSyuei;
        &:nth-of-type(1) {
          position: relative;
          }
        &:nth-of-type(2) {
          margin-left: 18px;
          }
        .square {
          position: absolute;
          bottom: 55%;
          left: 95%;
          @include madia.deviceBreakPointMax(765px) {
            bottom: 80%;
            left: 104%;
            }
          &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 7px;
            border: solid 1px #000000;
            background-color: #FFFF9D;
            @include madia.deviceBreakPointMax(765px) {
              background-color: var.$colorWhite;
              }
            }
          &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 7px;
            border: solid 1px #000000;
            background-color: #FFFF9D;
            transform: translate(-18%, 25%);
            @include madia.deviceBreakPointMax(765px) {
              background-color: var.$colorWhite;
              }
            }
          }
        }
      }
  }
}